@{
    ViewData["Title"] = "Home Page";
}

@model List<BridgeMonitor_Model>

<h1 class="text-center">Prochaine fermeture</h1>

<ul>
    @{
        Model.Sort((a, b) => a.ClosingDate.CompareTo(b.ClosingDate));
    }

    @foreach (var heures in Model)
    {
        var d1 = Convert.ToDateTime(DateTime.Now.ToString());
        var d2 = Convert.ToDateTime(@heures.ClosingDate);
        var d3 = Convert.ToDateTime(@heures.ReopeningDate);
        var evenement = @heures.BoatName;

        int result = DateTime.Compare(d2, d1);

        if (result == 1)
        {
            var dureeFermeture = @d3 - @d2;
            <div class="text-center">
                <p>La prochaine date de fermeture est @d2</p>
                <p>Et la prochaine date de réouverture après cette fermeture est @d3</p>
                <p>Le bateau responsable de cette fermeture est : @evenement</p>
                <p>La durée de la fermeture est de @dureeFermeture</p>
            </div>
            <div class="text-center">
                <p>
                    Risque de bouchon :
                    @if (heures.ClosingDate.Hour.Equals(7) ||
                       heures.ClosingDate.Hour.Equals(8) ||
                       heures.ClosingDate.Hour.Equals(17) ||
                       heures.ClosingDate.Hour.Equals(18))
                    {
                        <text>élevé</text>;
                    }
                    else
                    {
                        <text>faible</text>;
                    }
                </p>
            </div>
            break;
        }
    }
</ul>